[Desktop Entry]
Categories=Office;
Comment=A list-making app that brings order to your life
Exec=nestful
Icon=app.nestful.Nestful
Name=Nestful
Terminal=false
Type=Application
